@model TodoApi.Models.TodoItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TodoItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <input type="hidden" asp-for="id" />
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglOrderdItenoss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglOrderdItenoss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KomentarTeknisi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KomentarTeknisi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahSurvei)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahSurvei)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tagging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tagging)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeknisiSurvei)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeknisiSurvei)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaggingOp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaggingOp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahPT1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahPT1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglSelesai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglSelesai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeknisiPT1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeknisiPT1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahJT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahJT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglJTSelesai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglJTSelesai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Komentar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglCloser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglCloser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gpon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gpon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pic)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
